#wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (max-width: 1400px) {
    #wrapper {
        min-width: 1000px;
    }
}

article,aside,audio,blockquote,body,canvas,caption,dd,details,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,iframe,legend,li,main,menu,nav,ol,p,pre,section,summary,table,tbody,td,template,textarea,tfoot,th,thead,tr,ul,video{
    margin:0;
    padding:0;
    border:0;
    font-size:inherit;
    font-family:inherit;
    box-sizing:border-box;
    word-break:keep-all
}

#nav_wrapper{
    position: absolute;
    top:0;
    width: 100%;
}