.pd-5{
    padding: 5px;
}

.mg-2{
    margin: 2px;
}

.bd-solid{
    border: 1px solid black;
}

.b{
    color: black;
}

.sdb{
    color: saddlebrown;
}

.rw10{
    width: 15vw;
}

.center{
    text-align: center;
}