
.tbutton{
	cursor:pointer;
	height:40px;
	width:70px;
	padding:5px;
	margin:10px auto;
	display:flex;
	align-items:center;
	background-color:#FFF;
	border:2px solid #AAA;
	border-radius:100px;
	transition:0.3s;
}

.tbutton.on{
	border-color:#2192FF;
}

.tbutton:hover{
	opacity:0.7;
}

.tcircle{
	width:50%;
	height:90%;
	background-color:#BBB;
	border-radius:90px;
	transition:0.5s;
}

.tcircle.on{
		background-color:#2192FF;
		transform:translatex(100%);
}