.switch{
	background-color: lightgrey;
    position: relative;
	left: 40px;
	width: 1.5rem;
	height: 1px;
	z-index: 1;
	&:before, &:after
	{	content: "";
		position: absolute;
		top: 0;
		background-color: inherit;
		width: 2rem;
		height: 1rem;
		z-index: 2;
		border-radius: 1rem;
    }
    &:before
	{	left: -0.5rem;
    }&:after
	{	right: -0.5rem;
    }
}
	
.toggle-button{
    position: relative;
	width: 1.1rem;
	height: 1.1rem;
	background-color: rgb(238, 233, 250);
	border-radius: 50%;
	transition: transform 100ms ease-in-out;
	z-index: 3;
	border: 0.5px solid rgb(107, 154, 171);
	top: -0.05rem;

}
	
// State


.switch_is-off{
    background-color:#dc4f20 !important;
}
	
.switch_is-on{
    background-color: lightgreen !important;
}
	
.toggle-button_position-left{
    transform: translateX(-0.85rem);
}
	
.toggle-button_position-right{
    transform: translateX(1.35rem);
}
	