.posflex{
    position: relative;
    top: 89vh;
}

.posrel{
    position: relative;
    top: 42vh;
}

.para{
    color: rgb(172, 176, 195);
}

.cardwrap{
    width: 95vw;
    height: 30vh;
    position: absolute;
    
}

.pos1{
    top : 1250px;
    background-color: #25aae1;
    opacity: 0.3;
}

.pos2{
    top : 1670px;
    background-color: #4481eb;
    opacity: 0.3;
}