.footer{
    width: 100%;
}

.footer_wrapper {
    background-color: black;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 32px;
    color: white;
}

.white {
    color: white;
}

.pd3{
    padding:6px;
}