.footer{
    width: 100%;
}

.footer_wrapper {

    
    display: list-item;
    background-color: black;
    padding: 5px;
    
}

h1 {
    font-size: 32px;
    color: white;
}

.white {
    color: white;
}

.pd3{
    position: flex;
    padding:6px;
}

.footer_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}