@media (max-width:1000px) {
    .wrapper{
        flex-direction: column;
        align-content: center;
    }
}

@media (max-width:750px) {
    .wrapper{
        display: inline-block !important;
        min-width: 750px;
    }
}


.structwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contents {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 10px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.8);
}

.list_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.red{
    color:red;
}

.black{
    color: #000;
}

.cash{
    display: contents;
    justify-content: space-between !important;

}

.hrs{
    background-color: #184788;
    width : 100%;
    height : 2px;
}

.left{
    margin-left: auto;
    margin-right: 6px;
}


.status{
    min-width: 40vw;
  }


.decon{
    border-style: none;
    background-color: white;
    color: none;
}

.namebox{
    width: 50%; 
	padding: 0.5rem;
	border: 3px solid #000;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	transition: .3s ease all;
	
	&:focus {
	border: 2px solid red;
	transition: .3s ease all;
	}
}