.guide_body {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parts_picture {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px / 5px;
}

#parts_picture:hover {
    height: 360px;
    width: 480px;
}

.parts_bind {
    width: 800px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 20px 10px;
}

.cpu_detail {
    width: 800px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    margin-left: 30%;
    display: flex;
}