.CssAlign {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.SuccessCheck {
    size: 10%;

}

.SuccessText {
    text-align: center;
    border: solid;
}

.SuccessMessage {
    text-align: center;
    border: solid;
    color: #808080;
}