.body_container{
  width: 70vw;
  margin-top: 5%;
  padding-top: 5%;
  justify-items: center;
}

.body_wrapper{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.boxtop{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.box{
    display: flex;
    width: 100%;
}

.box6{
    width: 100%;
}

.use{
    width: 20%;
}

.price{
    width: 16.5%;
}


.btn {
    background-color: #fff;
    border: 1px solid #dbdee2;
    color: #404a5c;
    width: 100px;
  }
  .btnactive {
    background-color: #505bf0;
    border: 1px solid #dbdee2;
    color: #fff;
    width: 100px;
  }

  .boxcenter {
    display: flex;
    justify-content: center;
    width: 100%
  }


  // body,html {
  //   & body {
  //     display:flex;
      
  //     margin:0;
  //     align-items:center;
  //     justify-content:center;
  //     transition:0.35s ease all;
  //   }

  // }



  .button {
    background:#666ed8;
    padding:20px 25px;
    border:none;
    font-size:22px;
    border-radius:6px;
    cursor:pointer;
    color:white;
    font-weight:bold;
    transition:0.3s ease all;
    box-shadow:1px 2px 3px rgba(0,0,0,0.3);
    &:focus {
      outline:none;
    }
    &.clicked {
      background:#383737;
    }
  }