.thStyle  {
    border:  solid #3498DB;
    background : #3498DB;
    color: white;
    padding: 5px;
    width: 50px;
};

.tableStyle  {
    border:  solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.boxcenter {
    display: flex;
    width: 100% ;
    margin: 3px;
  }

.boxitem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }

.textout{
    word-break:break-all
}