.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.boxtop{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.box{
    display: flex;
    width: 100%;
}

.box6{
    width: 100%;
}

.use{
    width: 20%;
}

.price{
    width: 16.5%;
}


.btn {
    background-color: #fff;
    border: 1px solid #dbdee2;
    color: #404a5c;
    width: 100px;
  }
  .btnactive {
    background-color: #505bf0;
    border: 1px solid #dbdee2;
    color: #fff;
    width: 100px;
  }

  .boxcenter {
    display: flex;
    justify-content: center;
    width: 100%
  }