.boxtop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.box{
    width: 30%;
  
}


.boxcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    /* height: 100%; */
}

.number{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.cnt{
    text-align: right;    
    
}

.text{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.guide{
    display: flex;
    justify-content: center;
}
