.bd-s{
    border-style: solid;
}

.bdt-s{
    border-top-style : solid;
}
.bdl-s{
    border-left-style : solid;
}
.bdr-s{
    border-right-style : solid;
}
.bdb-s{
    border-bottom-style : solid;
}

.bd-d{
    border-style: dotted;   
}
.bdt-d{
    border-top-style : dotted;
}
.bdl-d{
    border-left-style : dotted;
}
.bdr-d{
    border-right-style : dotted;
}
.bdb-d{
    border-bottom-style : dotted;
}
.bd-d{
    border-style: dotted;   
}

.bdc-black{
    border-color: black;
}

.bdc-grey{
    border-color: gray;
}

.bdw-1{
    border-width: 1px;
}
.bdw-2{
    border-width: 2px;
}
.bdw-3{
    border-width: 3px;
}
.bdw-4{
    border-width: 4px;
}
.bdw-5{
    border-width: 5px;
}
.bdw-6{
    border-width: 6px;
}
.bdw-7{
    border-width: 7px;
}
.bdw-8{
    border-width: 8px;
}
.bdw-9{
    border-width: 9px;
}
.bdw-10{
    border-width: 10px;
}

.br-025{
    border-radius: 0.25rem;
}
.br-050{
    border-radius: 0.50rem;
}
.br-075{
    border-radius: 0.75rem;
}
.br-100{
    border-radius: 1rem;
}
.br-125{
    border-radius: 1.25rem;
}