.inline-block {
  display: inline-block;
}

.dcontents {
  display: contents;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.notVisible {
  visibility: hidden;
}

.wkbox {
  display: -webkit-box;
}

.ellipsis {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;  
  overflow: hidden !important;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-around {
    justify-content: space-around;
  }

  

  .f-one {
    flex: 1;
  }
}
