.fs-10 {
  font-size: (10px);
}
.fs-11 {
  font-size: (11px);
  line-height: (16px);
}
.fs-12 {
  font-size: (12px);
  line-height: (17px);
}
.fs-13 {
  font-size: (13px);
  line-height: (19px);
}
.fs-14 {
  font-size: (14px);
  line-height: (20px);
}
.fs-15 {
  font-size: (15px);
  line-height: (22px);
}
.fs-16 {
  font-size: (16px);
  line-height: (23px);
}
.fs-18 {
  font-size: (18px);
  line-height: (26px);
}
.fs-20 {
  font-size: (20px);
  line-height: (29px);
}
.fs-22 {
  font-size: (22px);
  line-height: (32px);
}
.fs-24 {
  font-size: (24px);
  line-height: (35px);
}
.fs-26 {
  font-size: (26px);
  line-height: (38px);
}
.fs-28 {
  font-size: (28px);
  line-height: (41px);
}
.fs-30 {
  font-size: (30px);
  line-height: (43px);
}
.fs-32 {
  font-size: (32px);
  line-height: (46px);
}
.fs-36 {
  font-size: (36px);
  line-height: (52px);
}
.fs-40 {
  font-size: (40px);
  line-height: (58px);
}
.fs-52 {
  font-size: (52px);
  line-height: (75px);
}
.fs-60 {
  font-size: (60px);
  line-height: (87px);
}
/* 폰트 타이포 */

.loveYa {
  font-family: "LoveYaLikeASister";
}

.loveYaSolid {
  font-family: "LoveYaLikeASisterSolid";
}

.kyobo {
  font-family: "KyoboHandwriting2020A";
}

.notoMid {
  font-family: "NotoSansMedium";
}

.notoBold {
  font-family: "NotoSansBold";
}

.notoReg {
  font-family: "NotoSansRegular";
}

.notoBlack {
  font-family: "NotoSansBlack";
}

.notoThin {
  font-family: "NotoSansThin";
}

.notoLight {
  font-family: "NotoSansLight";
}

.roThin {
  font-family: "RobotoThin";
}

.roLight {
  font-family: "RobotoLight";
}

.roReg {
  font-family: "RobotoRegular";
}

.roMid {
  font-family: "RobotoMedium";
}

.roBold {
  font-family: "RobotoBold";
}

.gg {
  font-family: "GingerBold";
  padding: 3px;
}